@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <div class="header-cont">
        <div class="header-social">
            <a href="https://www.facebook.com/SydneyThunder" class="header-social-facebook"></a>
            <a href="https://twitter.com/ThunderBBL" class="header-social-twitter"></a>
        </div>
    </div>
    <div class="mazda-logo"></div>
    <a href="/" class="festival-logo"></a>
</header>
<section class="refer">
    <div class="form-cont">
        <h1>Terms and Conditions</h1>
        <div class="content">

            <table width="100%">
                <tbody>
                    <tr>
                        <td width="29%"><strong>Who is running the competition?</strong></td>
                        <td width="70%">The Promoter is Mazda Australia Pty Ltd (ABN 78 004 690 804), 385 Ferntree Gully Road, Mount Waverley VIC 3149. Phone: 02 9554 1000.</td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>When will the competition start and end?</strong></td>
                        <td width="70%">The competition starts at 9am (AEST) on 22/09/15 and ends at 11.59am (AEDT) on 08/12/15 (the <strong>Competition Period</strong>).</td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>Who can enter?</strong></td>
                        <td width="70%">Only NSW and ACT residents can enter, who, if relevant, can take any prize won on the date and time specified by the Promoter. If you are under 16, you must get approval from your parent/guardian before you enter.</td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>Who can't enter? </strong></td>
                        <td width="70%">
                            Directors, officers, management and employees of:
                            <h4>(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the Promoter; or</h4>
                            <h4>(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the agencies or companies or participating dealerships (<strong>Dealerships</strong>) associated with this competition</h4>
                            <h4>(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and their immediate families, can't enter.</h4>
                        </td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>Do I need to buy anything to enter?</strong></td>
                        <td width="70%">No.</td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>Entry instructions </strong></td>
                        <td width="70%">
                            You must during the Competition Period, visit <a href="http://mazdasydneythunderfestival.com.au/">http://mazdasydneythunderfestival.com.au/</a> (<strong>Website</strong>) and fill out and submit the online registration form, including by selecting one or more of the following prize categories, depending on your interest, "Ultimate Spectator", "The Cricket Buff", "Corporate Crowd" and "Fanatic Family" (each, a <strong>Prize Category</strong>), and providing all other requested information.
                            <h4>After your valid registration has been processed by the Promoter, you will receive one entry one entry into the entry pool for each Prize Category you selected in your registration. You’ll also be sent an informative welcome email (<strong>Welcome Email</strong>) that will include your allocated unique festival number which is required for several of the methods for bonus entries, as outlined below, as well as quick links to come back to after you have test-driven or purchased a Mazda in order to get your bonus entries, and details on how to obtain bonus entries by inviting your friends to enter the competition.</h4>
                        </td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>Bonus entries</strong></td>
                        <td width="70%">
                            The Promoter will offer the following bonus entries during the Competition Period:
                            <h4>(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; After you have entered in accordance with the Entry instructions above, your Welcome Email will prompt you to invite friends to enter the competition, by sending them an email regarding the competition. To do this, you must follow the instructions provided in your Welcome Email, including by obtaining consent from the friend/s in relation to them receiving an email invitation from you. You must only send an email invitation to friends who have given consent to receive an email from you about this competition. Your friend/s will receive a unique link to the Website, and if they follow the instructions provided and register for the competition, you will receive 2 bonus entries into the entry pool for each Prize Category you selected on your original registration, for each of your friends who register</h4>
                            <h4>(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you test drive a Mazda vehicle at a Dealership during the Competition Period, you can ask the dealer for your unique Festival Test Drive Reward Number. To get your bonus entries, you must reopen your Welcome Email, click on the test drive link and input your Festival Test Drive Reward Number. This will give you 5 bonus entries into the entry pool for each Prize Category you selected on your original registration. Each Festival Test Drive Reward Number can only be submitted to the Website once. Each new eligible test drive at a Dealership entitles you to receive a new unique Festival Test Drive Reward Number.</h4>
                            <h4>(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you buy a Mazda vehicle at a Dealership during the Competition Period, you can ask the dealer for your unique Festival Purchase Reward Number. To get your bonus entries, you must reopen your Welcome Email, click on the purchase link and input your Festival Purchase Reward Number. This will give you 10 bonus entries into the entry pool for each Prize Category you selected on your original registration. &nbsp; Each Festival Purchase Reward Number can only be submitted to the Website once. Each new eligible purchase at a Dealership entitles you to receive a new unique Festival Test Drive Reward Number.</h4>
                            <h4>(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If, between 13/10/15 and the end of the Competition Period, you play the online Mazda Mission game on the Website, you will get 1 bonus entry. There is a maximum of 1 bonus entry per person via this method, regardless of how many times you play the online Mazda Mission game.</h4>
                            If you test-drive and purchase (methods (b) and (c) above) on the same occasion, you can receive both a Festival Test Drive Reward Number and a Festival Purchase Reward Number, and can submit both in your account on the Website to receive 15 bonus entries into the entry pool for each Prize Category you selected on your original registration.

                            All bonus entry methods are subject to any additional conditions imposed by the Promoter or a participating Dealership, as communicated to entrants.

                            If, at the time of taking a test drive or purchasing a Mazda vehicle at a Dealership (as indicated above), you are not yet registered for this competition, you can complete the steps set out in the Entry instructions above to register for the competition, and then follow the steps above to register your bonus entries.
                        </td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>How many winners will there be and how will they be chosen? </strong></td>
                        <td width="70%">
                            There will be a total of 67 winners determined in respect of this competition.

                            There will be draws conducted in respect of each of the four Prize Categories as selected by entrants at the time of registration/

                            Each draw will be held at 12noon (AEST/AEDT) on the relevant draw date at the Promoter's office, Lakes Business Park, Unit A, 6 Lord St, Botany NSW 2019. For draw dates, prize details and publication dates, please see the Draw dates, prize details and publication dates table below.

                            Entrants will be entered into the draws which correspond to the Prize Category/ies they selected in their initial registration form. Entries must be received by the Promoter by 6pm (AEST/AEDT) on the day before the relevant draw, to be entered into that draw. The draws will be randomly conducted and prize/s will be awarded to the first valid and eligible entry/ies selected (in accordance with the Draw dates, prize details and publication dates table below)] Non-winning entries will roll over into all subsequent draws for the relevant Prize Category until the end of the Competition Period.

                            The Promoter may draw additional reserve entries in each draw and record them in order, in case the winning entry/entrant is deemed invalid.

                            If, on the date of a draw, no entries or insufficient entries have been received in respect of that draw, the relevant prize/s will carry over to the next draw for that Prize Category for which the Promoter has received enough entries to award some or all of any carried over prizes.
                        </td>
                    </tr>
                </tbody>
            </table>
            &nbsp;
            <table class="wide-table">
                <thead>
                    <tr>
                        <td colspan="7" width="726"><strong>Draw dates, prize details and publication dates</strong></td>
                    </tr>
                    <tr>
                        <td width="86"><strong>Prize Category</strong></td>
                        <td width="62"><strong>Draw Date</strong></td>
                        <td width="51"><strong>Number of Prizes</strong></td>
                        <td width="322"><strong>Prize Details </strong></td>
                        <td width="60"><strong>Individual Prize Value</strong></td>
                        <td width="70"><strong>Total Value</strong></td>
                        <td width="75"><strong>Publication Date</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="6" width="86"><strong>Ultimate Spectator</strong></td>
                        <td width="62">03/11/15</td>
                        <td width="51">10</td>
                        <td width="322">A reserve double pass ticket to one nominated Sydney Thunder home game played at Spotless Stadium, Sydney, between 17/12/15 and 11/01/16. This ticket is for one game only and is valid for adults and children. If the tickets for your preferred date/game are unavailable you’ll be offered a reserve double pass ticket to another home game, subject to availability.</td>
                        <td width="60">$60</td>
                        <td width="70">$600</td>
                        <td width="75">04/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">10/11/15</td>
                        <td width="51">10</td>
                        <td width="322">A general admission double pass ticket to one nominated Sydney Thunder game played at Spotless Stadium, Sydney between 17/12/15 and 11/01/16. This ticket is for one game and is valid for adults and children. If the tickets for your preferred date/game are unavailable you’ll be offered a general admission double pass ticket to another home game, subject to availability.</td>
                        <td width="60">$40</td>
                        <td width="70">$400</td>
                        <td width="75">11/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">17/11/15</td>
                        <td width="51">2</td>
                        <td width="322">A Sydney Thunder shirt signed by selected players.</td>
                        <td width="60">$1,000</td>
                        <td width="70">$2,000</td>
                        <td width="75">18/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">24/11/15</td>
                        <td width="51">1</td>
                        <td width="322">A cricket bat signed by selected Sydney Thunder players.</td>
                        <td width="60">$1,500</td>
                        <td width="70">$1,500</td>
                        <td width="75">25/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">01/12/15</td>
                        <td width="51">4</td>
                        <td width="322">A pair of Ray Ban sunglasses (in a style as selected by the Promoter).</td>
                        <td width="60">$200</td>
                        <td width="70">$800</td>
                        <td width="75">02/12/15</td>
                    </tr>
                    <tr>
                        <td width="62"><strong>TOTALS</strong></td>
                        <td width="51"><strong>27</strong></td>
                        <td width="322"><strong>&nbsp;</strong></td>
                        <td width="60"><strong>&nbsp;</strong></td>
                        <td width="70"><strong>$5,300</strong></td>
                        <td width="75"><strong>&nbsp;</strong></td>
                    </tr>
                    <tr>
                        <td rowspan="6" width="86"><strong>The Cricket Buff</strong></td>
                        <td width="62">03/11/15</td>
                        <td width="51">1</td>
                        <td width="322">A bowling masterclass with a Sydney Thunder player (as selected by the Promoter), at a time, date and Sydney location agreed between the Promoter and the winner. The winner of this prize must be aged 18 years or over.</td>
                        <td width="60">$5,000</td>
                        <td width="70">$5,000</td>
                        <td width="75">04/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">10/11/15</td>
                        <td width="51">10</td>
                        <td width="322">A general admission double pass ticket to one nominated Sydney Thunder game played at Spotless Stadium, Sydney, between 17/12/15 and 11/01/16. This ticket is for one game and is valid for adults and children. If the tickets for your preferred date/game are unavailable you’ll be offered a general admission double pass ticket to another home game, subject to availability.</td>
                        <td width="60">$40</td>
                        <td width="70">$400</td>
                        <td width="75">11/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">17/11/15</td>
                        <td width="51">1</td>
                        <td width="322">A Sydney Thunder shirt signed by selected players</td>
                        <td width="60">$1,000</td>
                        <td width="70">$1,000</td>
                        <td width="75">18/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">24/11/15</td>
                        <td width="51">1</td>
                        <td width="322">A cricket bat signed by selected Sydney Thunder players</td>
                        <td width="60">$1,500</td>
                        <td width="70">$1,500</td>
                        <td width="75">25/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">01/12/15</td>
                        <td width="51">3</td>
                        <td width="322">A pair of Ray Ban sunglasses (in a style as selected by the Promoter)</td>
                        <td width="60">$200</td>
                        <td width="70">$600</td>
                        <td width="75">02/12/15</td>
                    </tr>
                    <tr>
                        <td width="62"><strong>TOTALS</strong></td>
                        <td width="51"><strong>16</strong></td>
                        <td width="322"><strong>&nbsp;</strong></td>
                        <td width="60"><strong>&nbsp;</strong></td>
                        <td width="70"><strong>$8,500</strong></td>
                        <td width="75"><strong>&nbsp;</strong></td>
                    </tr>
                    <tr>
                        <td rowspan="6" width="86"><strong>Corporate Crowd</strong></td>
                        <td width="62">03/11/15</td>
                        <td width="51">4</td>
                        <td width="322">A VIP suite double pass ticket to a Sydney Thunder home game played at Spotless Stadium, Sydney, on 17/12/15 and the opportunity for the winner to participate in the coin toss at the match. The winner of this prize, and the companion, must be aged 18 years or over.</td>
                        <td width="60">$600</td>
                        <td width="70">$2400</td>
                        <td width="75">04/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">10/11/15</td>
                        <td width="51">4</td>
                        <td width="322">A VIP suite double pass ticket to a Sydney Thunder home game played at Spotless Stadium, Sydney, on 28/12/15. The winner of this prize, and the companion, must be aged 18 years or over.</td>
                        <td width="60">$600</td>
                        <td width="70">$2400</td>
                        <td width="75">11/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">17/11/15</td>
                        <td width="51">4</td>
                        <td width="322">A VIP suite double pass ticket to a Sydney Thunder home game played at Spotless Stadium, Sydney, played on 07/01/16. The winner of this prize, and the companion, must be aged 18 years or over.</td>
                        <td width="60">$600</td>
                        <td width="70">$2400</td>
                        <td width="75">18/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">24/11/15</td>
                        <td width="51">1</td>
                        <td width="322">An invitation for the winner and 4 adult companions (5 in total) to meet selected Sydney Thunder players in the Members Bar of Spotless Stadium after a Sydney Thunder game, as specified by the Promoter. The winner of this prize, and the companions, must be aged 18 years or over.</td>
                        <td width="60">$250</td>
                        <td width="70">$250</td>
                        <td width="75">25/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">01/12/15</td>
                        <td width="51">3</td>
                        <td width="322">A pair of Ray Ban sunglasses (in a style as selected by the Promoter)</td>
                        <td width="60">$200</td>
                        <td width="70">$600</td>
                        <td width="75">02/12/15</td>
                    </tr>
                    <tr>
                        <td width="62"><strong>TOTALS</strong></td>
                        <td width="51"><strong>16</strong></td>
                        <td width="322"><strong>&nbsp;</strong></td>
                        <td width="60"><strong>&nbsp;</strong></td>
                        <td width="70"><strong>$8,050</strong></td>
                        <td width="75"><strong>&nbsp;</strong></td>
                    </tr>
                    <tr>
                        <td rowspan="7" width="86"><strong>Fanatic Family</strong></td>
                        <td width="62">03/11/15</td>
                        <td width="51">1</td>
                        <td width="322">A children's clinic for up to 10 children (aged 5 years or over) to take place at the Sydney Thunder Fan Day, at a time, date and location specified by the Promoter. An adult parent/guardian must accompany the group. The Promoter/prize supplier reserves the right to require parents/guardians to sign any documents necessary in order for the children to participate. &nbsp; <strong>[I think it is best to be quite broad about this. It should be each child's parent who signs any waiver, etc, but this can be sorted out once the prize is awarded]</strong></td>
                        <td width="60">$300</td>
                        <td width="70">$300</td>
                        <td width="75">04/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">10/11/15</td>
                        <td width="51">1</td>
                        <td width="322">An ultimate birthday bash with a Sydney Thunder player appearing, for up to 10 children (aged 5 years or over) at a Sydney Thunder home game, at a time, date and location specified by the Promoter. An adult parent/guardian must accompany the group.</td>
                        <td width="60">$300</td>
                        <td width="70">$300</td>
                        <td width="75">11/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">17/11/15</td>
                        <td width="51">2</td>
                        <td width="322">A visit by the Sydney Thunder bus to the winner's school or club (or other agreed location) at a time and date specified by the Promoter (subject to agreement of the school or club).</td>
                        <td width="60">$1,000</td>
                        <td width="70">$2,000</td>
                        <td width="75">18/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">24/11/15</td>
                        <td width="51">1</td>
                        <td width="322">A cricket bat signed by selected Sydney Thunder players.</td>
                        <td width="60">$1,500</td>
                        <td width="70">$1,500</td>
                        <td width="75">25/11/15</td>
                    </tr>
                    <tr>
                        <td width="62">01/12/15</td>
                        <td width="51">1</td>
                        <td width="322">A training session for a junior cricket club conducted by selected Sydney Thunder players, which must take place at a Sydney location, at a time and date as specified by the Promoter.</td>
                        <td width="60">$5,000</td>
                        <td width="70">$5,000</td>
                        <td width="75">02/12/15</td>
                    </tr>
                    <tr>
                        <td width="62">08/12/15</td>
                        <td width="51">1</td>
                        <td width="322">A training session for a junior cricket club conducted by selected Sydney Thunder players, which must take place at a Sydney location, at a time and date as specified by the Promoter.</td>
                        <td width="60">$5,000</td>
                        <td width="70">$5,000</td>
                        <td width="75">09/12/15</td>
                    </tr>
                    <tr>
                        <td width="62"><strong>TOTALS</strong></td>
                        <td width="51"><strong>7</strong></td>
                        <td width="322"><strong>&nbsp;</strong></td>
                        <td width="60"><strong>&nbsp;</strong></td>
                        <td width="70"><strong>$14,100</strong></td>
                        <td width="75"><strong>&nbsp;</strong></td>
                    </tr>
                    <tr>
                        <td width="86"><strong>Ultimate Spectator / The Cricket Buff / Corporate Crowd</strong></td>
                        <td width="62">08/12/15</td>
                        <td width="51">1</td>
                        <td width="322">The hire of a Mazda MX-5 from 5pm on a Friday until 12noon on a Monday (on dates to be agreed with the Promoter). The winner must be aged 18 or over, hold a full drivers licence and must sign any documents requested by the Promoter/prize supplier, including an agreement in relation to being responsible for paying an insurance excess in the case of damage or an accident. The winner must collect and return the vehicle to the location specified.</td>
                        <td width="60">$550</td>
                        <td width="70">$550</td>
                        <td width="75">09/12/15</td>
                    </tr>
                    <tr>
                        <td colspan="2" width="148"><strong>TOTAL NUMBER OF PRIZES</strong></td>
                        <td width="51"><strong>67</strong></td>
                        <td colspan="2" width="382"><strong>TOTAL PRIZE POOL</strong></td>
                        <td width="70"><strong>$36,500</strong></td>
                        <td width="75"><strong>&nbsp;</strong></td>
                    </tr>
                </tbody>
            </table>
            &nbsp;

            &nbsp;
            <table width="100%">
                <tbody>
                    <tr>
                        <td width="29%"><strong>Further prize details</strong></td>
                        <td width="70%">
                            If a prize winner is under 16 years old on the date the prize is awarded, it will be awarded to the winner’s parent or guardian on the winner’s behalf. By accepting or participating in any prize on behalf of a winner, the winner’s parent or guardian accepts these conditions.

                            If any person taking part in an event awarded as part of a prize is under 16 years old at the date of the event, they must be accompanied by their parent or guardian at all times, or as otherwise agreed with the Promoter/prize supplier. For any prize which involves an event for children at a Sydney Thunder game, accompanying adults must arrange their own tickets as required unless specified as part of the prize.

                            Winners and other prize participants are responsible for making their own way to and from any event location, in order to take part in a prize.

                            The Promoter reserves the right to require winners or other prize participants to provide further information or details in order to award the relevant prize. Such information must be provided in the manner requested and by the date specified.

                            See paragraphs 3 and 4 for further prize conditions.
                        </td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>Total prize pool</strong></td>
                        <td width="70%">The totalprize pool is $36,500.</td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>How many times can I enter?</strong></td>
                        <td width="70%">
                            You can register at the Website only once. You can receive multiple bonus entries, in accordance with these Terms and Conditions.

                            Any duplicate registrations (matching either your name or email address or as otherwise determined by the Promoter) will be invalidated.
                        </td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>How and when will the winners be informed?</strong></td>
                        <td width="70%">If you are a winner, you will be informed by phone and in writing by email within two days of the relevant draw and your name and state/territory of residence will be published on the Website and at <a href="http://www.sydneythunder.com.au/news">www.sydneythunder.com.au/news</a> onthe relevant publication date as set out in the Draw dates, prize details and publication dates table above.</td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>If I win, when must I claim my prize?</strong></td>
                        <td width="70%">
                            If you win a Sydney Thunder shirt, Ray Ban sunglasses or a cricket bat, you must claim your prize by 9am (AEDT) on 09/03/16.

                            If you win an event based prize, (e.g. anything other than a Sydney Thunder shirt, Ray Ban sunglasses or a cricket bat), you must claim your prize by 9am (AEDT) on 15/12/15.
                        </td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>What if I don't claim my prize on time? </strong></td>
                        <td width="70%">
                            If a prize has not been accepted or claimed by the relevant prize claim date and time above, or if, after making all reasonable attempts, the Promoter can't contact the drawn winner (or the drawn winner does not contact the Promoter) by the time and date specified above, the relevant entry will be discarded and the Promoter will re-award the relevant prize by carrying out an unclaimed prize draw at noon (AEDT) on either 15/12/15 (for event-based prizes) or 09/03/16 (for Sydney Thunder shirt, Ray Ban sunglasses or a cricket bat prizes), at the same location as the original draws (from amongst the original relevant Prize Category entries) to distribute the relevant prize.

                            Any winners in these draws will be informed by phone and in writing via email within two days of the draw and your name and state/territory of residence will be published on the Website and at <a href="http://www.sydneythunder.com.au/news%20on%2016/12/15%20or%2009/03/16">www.sydneythunder.com.au/news on 16/12/15 or 09/03/16</a>, respectively.
                        </td>
                    </tr>
                    <tr>
                        <td width="29%"><strong>Permit numbers</strong></td>
                        <td width="70%">Authorised under ACT Permit No. TPXX/07185, NSW Permit No. LTPS/15/06826.</td>
                    </tr>
                </tbody>
            </table>
            <strong><em>&nbsp;</em></strong>
            <h2>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; These Terms and Conditions incorporate and must be read together with the details outlined in the table above. Information about prizes and how to enter forms part of these Terms and Conditions. By entering, you accept these Terms and Conditions.</h2>
            <strong>Entry </strong>
            <h2>2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your entry must be received during the Competition Period. Your entry is deemed to be received only when received by the Promoter’s database. The Promoter is not liable for any problems with communications networks. You are responsible for your own costs associated with entering. If you enter using automatically generated entries or multiple phone numbers or aliases you may be disqualified.</h2>
            <h2><strong>Prizes</strong></h2>
            <h2>3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prize activities are subject to booking and availability. Event prizes must be taken at the time, on the date and at the location as specified by the Promoter. Prizes are subject to any additional conditions as imposed and specified by the prize supplier and/or Promoter, including any conditions of entry into a venue or location (including behaviour requirements and applicable dress codes), any conditions of ticket validity and any restrictions on ticket on-sale or transfer. Any failure by you or a prize participant to comply with the conditions imposed by the prize supplier(s) may result in the prize being cancelled or withdrawn without liability for the Promoter or the prize supplier(s). You, and other prize participants, are responsible for all other costs related to a prize, including any transport costs and accommodation.</h2>
            <h2>4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Match based prizes must be taken on the date and time and at the location of the match as advised by the Promoter, to which you have won tickets. Tickets can only be used once and will be deemed invalid if copied. The Promoter does not control entry to the relevant match location. You must keep your tickets safe and the Promoter will not replace lost or stolen tickets.</h2>
            <h2>5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Promoter is not responsible for any dispute between you and any person with whom you choose to, or choose not to, share a prize.</h2>
            <h2>6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you or another prize participant cannot attend an event awarded as part of a prize on the date and time chosen, the Promoter will not be liable.</h2>
            <h2>7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Any car hire awarded as part of a prize is subject to any conditions of the car hire provider.</h2>
            <h2>8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Promoter accepts no responsibility if any of the matches or events which form part of the prizes are abandoned, called off or postponed for any reason and you and the other prize participants will not be given any cash or alternative tickets as a substitute for attending the match or event.</h2>
            <h2>9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Promoter has no liability if for any reason any of the specified Sydney Thunder players do not attend a prize event.</h2>
            <h2><strong>General</strong></h2>
            <h2>10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you are a winner, you (and your companions participating in a prize, and any other prize participants) must take part in all publicity, photography and other promotional activity as the Promoter requires, without any compensation. You (and your companions and other prize participants) consent to the Promoter using your names and images in any promotional or advertising activity.</h2>
            <h2>11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In order to participate in the activities awarded as part of some of the prizes, prize participants may be required to comply with any applicable conditions (e.g. height, weight, health and fitness requirements). Prize participants (and, if aged under 16 years, their parent/guardian) must ensure that they are healthy and fit enough to take the prize. The Promoter may deem that a prize participant is insufficiently healthy or fit. Prize participants must follow all requirements of the people responsible for managing the relevant activities.</h2>
            <h2>12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prize participants must, if required by the Promoter, sign disclaimer and release forms provided by the Promoter in favour of the Promoter and other parties before taking part in a prize. If a prize participant does not sign, their participation will be deemed invalid and they will lose any entitlement to a prize.</h2>
            <h2>13&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you or your entry are deemed by the Promoter to breach these Terms and Conditions including if you are unable to take a prize at the date/time/location specified, your entry (or at the Promoter's discretion, all of your entries) may be discarded.</h2>
            <h2>14&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Promoter may, at any time, require an entrant, winner or any prize participant to produce documentation to establish to the Promoter's satisfaction the validity of their entries and right to a prize (including documentation establishing your identity, age, place of residence and place of employment). Failure by the Promoter to enforce any of its rights at any stage does not waive those rights.</h2>
            <h2>15&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You must not:</h2>
            <h4>(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; tamper with the entry process;</h4>
            <h4>(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; engage in any conduct that may jeopardise the fair and proper conduct of the competition;</h4>
            <h4>(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; act in a disruptive, annoying, threatening, abusive or harassing manner;</h4>
            <h4>(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; do anything that may diminish the good name or reputation of the Promoter or any of its related entities or of the agencies or companies associated with this competition;</h4>
            <h4>(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; breach any law; or</h4>
            <h4>(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; behave in a way that is otherwise inappropriate.</h4>
            <h2>16&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You are responsible for your companions and prize participants and the Promoter may disqualify all entries from, and prohibit further participation in this competition by, you or any or all of your companion/s or prize participants if any of them breaches these conditions, whether or not legally bound by them.</h2>
            <h2>17&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you (or your companions or prize participants, if applicable), in the opinion of the Promoter, are intoxicated, under the influence of alcohol or any other drug, behave aggressively or offensively, or behave in a manner which may diminish the good name or reputation of the Promoter or any of its related entities or the agencies or companies associated with this competition, is contrary to law or is otherwise inappropriate, the Promoter may cancel the prize or restrict you (and your companions and prize participants) from participating in any elements of the prize, at its discretion.</h2>
            <h2>18&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Promoter is not liable for entries, prize claims or correspondence that are misplaced, misdirected, delayed, lost, incomplete, illegible or incorrectly submitted.</h2>
            <h2>19&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Promoter’s decision in connection with all aspects of this competition is final.</h2>
            <h2>20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prizes cannot be transferred (except where specifically permitted) or exchanged nor redeemed for cash. Without limiting any other term of these Terms and Conditions, all prizes (and elements of prizes) must be taken as and when specified, or will be forfeited with no replacement. The prize values are correct as at the date of preparing these Terms and Conditions and include any applicable GST. The Promoter is not responsible for any change in prize value. You agree that if a prize (or element of a prize) is unavailable for any reason the Promoter may provide another item of equal or higher value, subject to any necessary approval by the state/territory gaming authorities.</h2>
            <h2>21&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; By entering, you request that your full address not be published.</h2>
            <ul>
                <li>By accepting or participating in any prize, your companions and other prize participants accept these Terms and Conditions.</li>
            </ul>
            <h2>23&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If this competition cannot run as planned for any reason beyond the Promoter's control, for example due to software, hardware or communications issues, unauthorised intervention, tampering, fraud or technical failure, the Promoter may end, change, suspend or cancel the competition or disqualify affected entries/entrants, subject to any necessary approval by the state/territory gaming authorities.</h2>
            <h2>24&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Promoter is not responsible for any tax implications arising from you winning a prize. You should seek independent financial advice. If for GST purposes this competition results in any supply being made for non-monetary consideration, you must follow the Australian Taxation Office’s stated view that where the parties are at arm’s length, goods and services exchanged are of equal GST inclusive market values.</h2>
            <h2><strong>Liability</strong></h2>
            <h2>25&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nothing in these Terms and Conditions restricts, excludes or modifies any consumer rights under any statute including the <em>Competition and Consumer Act 2010 </em>(Cth)<em>.</em></h2>
            <h2>26&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Subject to the previous paragraph, the Promoter and the agencies and companies associated with this competition are not liable (including in negligence) for any loss (including indirect, special or consequential loss or loss of profits), expense, damage, personal injury,illness or death suffered in connection with this competition or any prize, except for any liability which under statute cannot be excluded (in which case that liability is limited to the greatest extent allowed by law).</h2>
            <h2>27&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Without limiting the previous paragraph, the Promoter and the agencies and companies associated with this competition are not liable for any loss of, damage to or delay in delivery of prizes. Prizes will only be delivered to addresses in Australia.</h2>
            <h2>28&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This competition is in no way sponsored, endorsed or administered by, or associated with, Facebook or Instagram. You provide your information to the Promoter and not to Facebook or Instagram. You completely release Facebook and Instagram from any and all liability.</h2>
            <h2><strong>Collection and use of your personal information </strong></h2>
            <h2>29&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your entry will be the Promoter's property. The Promoter may collect your and your companions’ and prize participants' personal information directly or through its agents or contractors. The Promoter will use your and your companions’ and prize participants' personal information to conduct the competition. The Promoter may disclose your and your companions’ and prize participants' personal information to its related companies, agents and contractors to assist in conducting this competition, communicating with you or your companions or prize participants or storing data. If you have marked the “opt-in” box on the entry form relating to the Mazda Thunder Festival, you consent to the Promoter keeping your personal information on its database to use for future marketing purposes relating to the Mazda Thunder Festival, including contacting you by electronic messaging. If you have marked the “opt-in” box on the entry form relating to general Mazda information, you consent to the Promoter keeping your personal information on its database to use for future general marketing purposes, including contacting you by electronic messaging. See the Promoter’s Privacy Policy at http://www.mazda.com.au/privacy-policy/.</h2>

        </div>
    </div>
</section>